    <div class="candidate-list candidate-grid">
    <div class="candidate-list-image">
    <img class="img-fluid" src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}">
    </div>
    <div class="candidate-list-details">
    <div class="candidate-list-info">
    <div class="candidate-list-title">
    <h5><a (click)="nvigateToMemberDetails(member)"> {{member.knownAs}}</a></h5>
    </div>
    <div class="candidate-list-option">
    <ul class="list-unstyled">
    <li><i class="fas fa-filter pr-1"></i> {{member.majorId | majorName }} - {{member.universityId | universityName}}       </li>
    <li><i class="fas fa-map-marker-alt pr-1"></i>{{member.city}}, {{member.country}}</li>
    </ul>
    </div>
    </div>
    <div class="candidate-list-favourite-time">
    <a class="candidate-list-favourite order-2" ><i class="far fa-heart" (click)="addLike(member)"></i></a>
    <span class="candidate-list-time order-1"><i class="far fa-clock pr-1"></i> {{member.lastActive | timeago}} </span>
    </div>
    </div>
    </div>
