<div class="modal-header">
    <h4 class="modal-title pull-left"> {{title}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #userform ="ngForm" [formGroup] = chatgroupForm >
    <input type="text" class="form-control"  [(ngModel)]="chatgroup.name" name="name" placeholder="Enter name of chatgroup" formControlName="name" required>
        <h6> select users to add to chatgroup </h6>
        <div class="form-check" *ngFor="let user of allusers">
          <input type="checkbox"
            class="form-check-input"
            [checked]="Checked(user)"
            [disabled]="user.username == currentUser.username"
            value="role"
            (change)="updateChecked(user)"                
          >
          <img [src]="user.photoUrl!=null?user.photoUrl:'/assets/user.png'" alt="profile picture" width="20" height="20"> &nbsp;
          <label>{{user.username}}</label>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default" [disabled]="chatgroupForm.invalid" (click)="saveChatGroup()">Submit</button>
        </div>
 
