<div class="modal-header">
    <h4 class="modal-title pull-left"> {{title}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #userform ="ngForm">
        <input type="text" class="form-control" value="{{chatgroup? chatgroup.name:''}}" (input)="updateName($event)"  (change) = "updateName($event)" name="name" placeholder="Enter name of chatgroup" 
        (change) = "updateName($event)" name="name" required>
        <h5> select users to add to chatgroup </h5>
        <div class="form-check" *ngFor="let user of allusers">
            <input type="checkbox"
                class="form-check-input"
                [checked]="Checked(user)"
                [disabled]="user.username == currentUser.username"
                value="role"
                (change)="updateChecked(user)"                
            >
            <img src="user.photoUrl" alt="profile picture" width="30" height="30">
            <label>{{user.username}}</label>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    
    <button type="button" class="btn btn-default" (click)="saveChatGroup()">Submit</button>
  </div>
