<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<div class="row">
    <div class="col-md-4">      
            <div class="portlet light profile-sidebar-portlet bordered">
                <div class="profile-userpic">
                    <img src="{{member.photoUrl || './assets/user.png'}}" class="img-responsive" alt=""> </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name"> {{member.knownAs}} </div>
                    <div class="profile-usertitle-job"> {{member.majorId | majorName}} / {{member.universityId | universityName}} </div>
                </div>
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-info  btn-sm" (click)="addLike(member)">Follow</button>
                    <button type="button" class="btn btn-info  btn-sm" (click)="selectTab('Messages')">Message</button>
                </div>
                
                <div class="profile-usermenu" style="display: flex; justify-content: center; align-items: center;">
                    <ul style="vertical-align: middle;">
                 
                        <div class="mb-2" *ngIf="(presenceService.onlineUsers$ | async)?.includes(member.userName)">
                            <i class="class fa fa-user-circle text-success"></i> Online now
                        </div>
                        <div class="mb-2" *ngIf="(presenceService.onlineUsers$ | async)?.includes(member.userName) === false">
                            <i class="class fa fa-user-circle text-fail"></i> Offline 
                        </div>
                    </ul>
                </div>
            </div>
        </div>

    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading="Profile" (selectTab)="onTabActivated($event)" >
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>University:</strong>
                    <p>{{member.universityId| universityName }}</p>
                </div>
                <div>
                    <strong>Major:</strong>
                    <p>{{member.majorId| majorName }}</p>
                </div>
                <div>
                    <strong>Year of Graduration:</strong>
                    <p>{{member.yearOfGraduate | date: 'yyyy'}}</p>
                </div>
                <div>
                    <strong>Last active:</strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>
                
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created | date: 'dd MMM yyyy'}}</p>
                </div>
            </tab>
            <tab heading="Info" (selectTab)="onTabActivated($event)" >
                <h4>Description</h4>
                <p>{{member.introduction}}</p>
                <h4>Looking for</h4>
                <p>{{member.lookingFor}}</p>
                <h4>Interests</h4>
                <p>{{member.interests}}</p>
            </tab>
            <tab heading="Photos" (selectTab)="onTabActivated($event)" >
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
            </tab>
            <tab heading="Messages" (selectTab)="onTabActivated($event)" >
                <app-member-messages [username]="member.userName"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>
