
<div id="topdiv" class="d-flex justify-content-between align-items-center"> 
    <div id="1div" class="col-6">
        <input
            type="text"
            style="padding:8px;margin:15px auto;width:30%;"
            placeholder="Type to filter by name..."
            (keyup)="updateFilter($event)"
        />
    </div>
   
    <div id="2div" class="col-4 offset-4"> 
        <button id="create" class="btn btn-primary align-items-right" type="button" (click)="openCreateChatGroupModal()">
            <span>Create Chatgroup</span>
        </button>
    </div>
</div>
<div>
    <ngx-datatable 
    class="material"
    [rows]="rows"
    [columns]="columns"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
    [sortType]="SortType.multi"
    [columnMode]="ColumnMode.force"
    [limit]="10"   
>
    <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>
    <ngx-datatable-column name="Owner" prop="owner.userName"></ngx-datatable-column>

    <ngx-datatable-column name="Members" >
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="member-photos-tooltip">
                <!-- Display member photos here -->
                <div class="image-container">
                    <ng-container *ngFor="let chatgroupmember of row.chatGroupMembers">
                        <img height="25px" width="25px" [src]="chatgroupmember.member.photos?.[0]?.url || 'assets/user.png'" [title]="chatgroupmember.member.userName?chatgroupmember.member.userName:chatgroupmember.member.knownAs"> 
                    </ng-container>
                </div>
            </div>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Actions">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button  class="btn btn-info" (click)="enterChatgroup(row)">chat</button> &nbsp;
            <button *ngIf="displayButton(row)" class="btn btn-success" (click)="openUpdateChatGroupModal(row)">edit</button> &nbsp;
            <button *ngIf="displayButton(row)" class="btn btn-info" (click)="openDeleteChatGroupModal(row, template)">delete</button> 
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>
</div>
<ng-template #template>
    <div class="modal-body text-center">
      <p>Do you want to delete?</p>
      <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
    </div>
</ng-template>
