<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" crossorigin="anonymous"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<div class="container">
    <div class="row">
    <div class="col-lg-3">
    <div class="sidebar">
    <div class="widget border-0">
        <a class="btn btn-md btn-dark" (click)="resetFilters()"><i class="fa fa-refresh" aria-hidden="true"></i>
            Reset Filters </a>
    </div>
   
    <div class="widget">
    <div class="widget-title widget-collapse">
    <h6>Year of Guaduration</h6>
    <a class="ml-auto" data-toggle="collapse" href="#dateposted" role="button" aria-expanded="false" aria-controls="dateposted"> <i class="fas fa-chevron-down"></i> </a>
    </div>
    <div class="collapse show" id="dateposted">
    <div class="widget-content">
        <div class="custom-control custom-checkbox" *ngFor="let range of yearRangeList">
            <input type="checkbox" class="custom-control-input" [value]="range.value" 
            [checked]="this.userParams?.YearRangeList.includes(range.value)"
            (change)="YearRangeChange($event)">
          
            <label class="custom-control-label" for="jobtype1">{{range.display}}</label>
        </div>
    </div>
    </div>
    </div>
    <div class="widget">
    <div class="widget-title widget-collapse">
    <h6>Major</h6>
    <a class="ml-auto" data-toggle="collapse" href="#specialism" 
    role="button" aria-expanded="false" aria-controls="specialism"> <i class="fas fa-chevron-down"></i> </a>
    </div>
    <div class="collapse show" id="specialism">
    <div class="widget-content">
        <div class="custom-control custom-checkbox" *ngFor="let major of majorList">
                
            <input type="checkbox" class="custom-control-input" [value]="major.value" 
            [checked]="this.userParams?.MajorList.includes(major.value)"
            (change)="MajorChange($event)">
            <label class="custom-control-label" for="jobtype1">{{major.display}}</label>
        </div>
   
    </div>
    </div>
    </div>
    <div class="widget">
    <div class="widget-title widget-collapse">
    <h6>Job Type</h6>
    <a class="ml-auto" data-toggle="collapse" href="#jobtype" role="button" 
    aria-expanded="false" aria-controls="jobtype"> <i class="fas fa-chevron-down"></i> </a>
    </div>
    <div class="collapse show" id="jobtype">
    <div class="widget-content">
        <div class="custom-control custom-checkbox" *ngFor="let university of universityList">
            <input type="checkbox" class="custom-control-input" [value]="university.value" 
            [checked]="this.userParams?.UniversityList.includes(university.value)"
            (change)="UniversityChange($event)">
            <label class="custom-control-label" for="jobtype1">{{university.display}}</label>
        </div>
        
        </div>
        </div>
        </div>
    
    
    <div class="widget">
    <div class="widget-title widget-collapse">
    <h6>Gender</h6>
    <a class="ml-auto" data-toggle="collapse" href="#gender" role="button" aria-expanded="false" aria-controls="gender"><i class="fas fa-chevron-down"></i></a>
    </div>
    <div class="collapse show" id="gender">
    <div class="widget-content">
    <div class="custom-control custom-checkbox" *ngFor="let gender of genderList">
    <input type="checkbox" class="custom-control-input" id="gender1" [value]="gender.value"
    [checked]="this.userParams.GenderList.includes(gender.value)" (change)="GenderChange($event)"
    >
    <label class="custom-control-label" for="gender1">{{gender.display}}</label>
    </div>
    </div>
    </div>
    </div>
    
    <div class="widget border-0">
    <div class="widget-add">
    <img class="img-fluid" src="images/add-banner.png" alt=""></div>
    </div>
    </div>
    </div>
    <div class="col-lg-9">
    <div class="row mb-4">
    <div class="col-12">
    <div class="row" *ngIf="!members || members.length === 0">
            <h3>No match connects</h3>
    </div>
    <h6 class="mb-0" *ngIf="members && members.length > 0">
        Showing {{pagination.currentPage * pagination.itemsPerPage - pagination.itemsPerPage + 1}}
        - {{(pagination.currentPage - 1) * pagination.itemsPerPage + members.length}} of <span class="text-primary">{{pagination.totalItems}}</span></h6>
    </div>
    </div>

    <div class="row ">   <!-- avatar row -->
        <div class="col-sm-6 col-lg-4 mb-4" *ngFor="let member of members">
        <app-member-card [member]="member"></app-member-card>
       </div>
    </div>
        
    <div class="row" *ngIf="members && members.length > 0">
        <div class="d-flex justify-content-center" *ngIf="pagination">
            <pagination 
                [boundaryLinks]="true" 
                [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage"
                [maxSize]="10"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" 
                nextText="&rsaquo;" 
                firstText="&laquo;" 
                lastText="&raquo;">
            </pagination>
        </div>
    </div>
</div>       <!-- avatar row -->

    </div>
    </div>