<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" crossorigin="anonymous"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<div class="container">
    <div class="row">
    <div class="col-lg-3">
    <div class="sidebar">
    <div class="widget border-0">
    <div class="search">
    <input class="form-control" type="text" placeholder="Search Keywords">
    </div>
    </div>
    <div class="widget border-0">
    <div class="locations">
    <input class="form-control" type="text" placeholder="All Locations">
    </div>
    </div>
    <div class="widget">
    <div class="widget-title widget-collapse">
    <h6>Date Join</h6>
    <a class="ml-auto" data-toggle="collapse" href="#dateposted" role="button" aria-expanded="false" aria-controls="dateposted"> <i class="fas fa-chevron-down"></i> </a>
    </div>
    <div class="collapse show" id="dateposted">
    <div class="widget-content">
    <div class="custom-control custom-checkbox fulltime-job">
    <input type="checkbox" class="custom-control-input" id="dateposted1">
    <label class="custom-control-label" for="dateposted1">Last hour</label>
    </div>
    <div class="custom-control custom-checkbox parttime-job">
    <input type="checkbox" class="custom-control-input" id="dateposted2">
    <label class="custom-control-label" for="dateposted2">Last 24 hour</label>
    </div>
    <div class="custom-control custom-checkbox freelance-job">
    <input type="checkbox" class="custom-control-input" id="dateposted3">
    <label class="custom-control-label" for="dateposted3">Last 7 days</label>
    </div>
    <div class="custom-control custom-checkbox temporary-job">
    <input type="checkbox" class="custom-control-input" id="dateposted5">
    <label class="custom-control-label" for="dateposted5">Last 30 days</label>
    </div>
    </div>
    </div>
    </div>
    <div class="widget">
    <div class="widget-title widget-collapse">
    <h6>Major</h6>
    <a class="ml-auto" data-toggle="collapse" href="#specialism" role="button" aria-expanded="false" aria-controls="specialism"> <i class="fas fa-chevron-down"></i> </a>
    </div>
    <div class="collapse show" id="specialism">
    <div class="widget-content">
    <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="specialism1">
    <label class="custom-control-label" for="specialism1">Computer Science</label>
    </div>
    <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="specialism2">
    <label class="custom-control-label" for="specialism2">Psychology</label>
    </div>
    <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="specialism3">
    <label class="custom-control-label" for="specialism3">Finance</label>
    </div>
    <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="specialism4">
    <label class="custom-control-label" for="specialism4">MBA</label>
    </div>
   
    </div>
    </div>
    </div>
    <div class="widget">
    <div class="widget-title widget-collapse">
    <h6>Job Type</h6>
    <a class="ml-auto" data-toggle="collapse" href="#jobtype" role="button" aria-expanded="false" aria-controls="jobtype"> <i class="fas fa-chevron-down"></i> </a>
    </div>
    <div class="collapse show" id="jobtype">
    <div class="widget-content">
    <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="jobtype1">
    <label class="custom-control-label" for="jobtype1">Full Time</label>
    </div>
    <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="jobtype2">
    <label class="custom-control-label" for="jobtype2">Part-Time</label>
    </div>
    <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="jobtype3">
    <label class="custom-control-label" for="jobtype3">Freelance</label>
    </div>
    <div class="custom-control custom-checkbox ">
    <input type="checkbox" class="custom-control-input" id="jobtype4">
    <label class="custom-control-label" for="jobtype4">Temporary</label>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="widget">
    <div class="widget-title widget-collapse">
    <h6>Gender</h6>
    <a class="ml-auto" data-toggle="collapse" href="#gender" role="button" aria-expanded="false" aria-controls="gender"><i class="fas fa-chevron-down"></i></a>
    </div>
    <div class="collapse show" id="gender">
    <div class="widget-content">
    <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="gender1">
    <label class="custom-control-label" for="gender1">Male</label>
    </div>
    <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="gender2">
    <label class="custom-control-label" for="gender2">Female</label>
    </div>
    </div>
    </div>
    </div>
    
    <div class="widget border-0">
    <div class="widget-add">
    <img class="img-fluid" src="images/add-banner.png" alt=""></div>
    </div>
    </div>
    </div>
    <div class="col-lg-9">
    <div class="row mb-4">
    <div class="col-12">

    <h6 class="mb-0">Showing 1-10 of <span class="text-primary">28 Candidates</span></h6>
    </div>
    </div>

    <div class="row ">   <!-- avatar row -->
        
        <div class="col-sm-6 col-lg-4 mb-4" *ngFor="let member of members">
        <app-member-card [member]="member"></app-member-card>
       </div>
     
    </div>
    

    
    <div class="row">
        <div class="d-flex justify-content-center" *ngIf="pagination">
            <pagination 
                [boundaryLinks]="true" 
                [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage"
                [maxSize]="10"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" 
                nextText="&rsaquo;" 
                firstText="&laquo;" 
                lastText="&raquo;">
            </pagination>
        </div>
    </div>
</div>       <!-- avatar row -->

    </div>
    </div>