.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}

.nav-header  {
    background-image: url(https://bootdey.com/img/Content/bg1.jpg);
}