<div class="modal-header">
    <div><h4 class="modal-title pull-left"> {{chatgroup.name}}</h4></div>
   
</div>

<div class="card modal-body">
    <div><h4 class="modal-title pull-left"> Group Members</h4>
        <div class="member-photos-tooltip">
            <!-- Display member photos here -->
            <div class="image-container">
                <ng-container *ngFor="let chatgroupmember of chatgroup.chatGroupMembers">
                    <img height="25px" width="25px" [src]="chatgroupmember.member.photos?.[0]?.url || 'assets/user.png'" [title]="chatgroupmember.member.userName?chatgroupmember.member.userName:chatgroupmember.member.knownAs"> 
                </ng-container>
            </div>
        </div>
        </div>
    <div class="card-body"
            #scrollMe
            style="overflow: scroll; height: 535px"
            [scrollTop]="scrollMe.scrollHeight"
    >
        <div *ngIf="localMessageThread.length === 0">
            No messages yet... say hi by using the message box below
        </div>

        <ul 
            *ngIf="localMessageThread.length > 0" class="chat">
            <li *ngFor="let message of localMessageThread">
                <div >
                    <small class="text-muted">
                        <span class="fa fa-clock-o">{{message.messageSent | timeago}}</span>
                    </small>
                </div>
                <div  *ngIf="userIsSender(message)">
                    <span class="chat-img float-start">
                        <img class="rounded-circle" width="30px" height="30px"
                            src="{{message.senderPhotoUrl}}" 
                            alt="{{message.senderName}}">
                    </span>
                    <div class="chat-body">
                        <p>{{message.content}}</p>
                    </div>
                   
                </div>
                <div *ngIf="!userIsSender(message)">
                    <span class="chat-img float-end" >
                        <img class="rounded-circle"  width="30px" height="30px"
                            src="{{message.senderPhotoUrl}}" 
                            alt="{{message.senderName}}">
                    </span>
                    <div class="chat-body">
                        <p>{{message.content}}</p>
                    </div>

                </div>
            </li>
        </ul>
    </div>

    <div class="modal-footer">
        
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
                <input 
                    name="messageContent"
                    required
                    [(ngModel)]="messageContent"
                    type="text" 
                    class="form-control input-sm" 
                    placeholder="Send a group message">
                <div class="input-group-append">
                    <button [disabled]="!messageForm.valid || loading" 
                        class="btn btn-primary" type="submit">
                        Send <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
